<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>215505847696-bob6tonokihncjjdd259m77tlq8sd3m9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.215505847696-bob6tonokihncjjdd259m77tlq8sd3m9</string>
	<key>API_KEY</key>
	<string>AIzaSyDbIIaVgtP8cpVO2g2ZUkFgR3nQFhw_BTI</string>
	<key>GCM_SENDER_ID</key>
	<string>215505847696</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>test.TaskManagment</string>
	<key>PROJECT_ID</key>
	<string>taskmanagement-9da5c</string>
	<key>STORAGE_BUCKET</key>
	<string>taskmanagement-9da5c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:215505847696:ios:e211be4d654361fecd9f15</string>
</dict>
</plist>
